@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #1a73e8;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --link-color: #bb86fc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

* {

}

a {
  color: var(--link-color);
}

button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--link-color);
}
